/* This resets the browser's default settings */
* {
  margin: 0px;
  padding: 0px;
}

/* The footer styling starts here */
footer {
  background-color: #0f3952;
  color: white;
  height: 25vh;
}
.footerLinks ul {
  display: flex;
  justify-content: center;
}
.footerLinks ul li {
  font: 20px sans-serif;
  padding: 30px;
  list-style: none;
}
.footerLinks ul li:hover {
  text-decoration: underline;
}
hr {
  width: 60%;
  margin: auto;
}
footer p {
  font: 20px sans-serif;
  text-align: center;
  margin-top: 25px;
}
