/* The header styling starts here */

* {
  margin: 0px;
  padding: 0px;
}
div,
h1,
li {
  display: block;
  color: rgb(228, 217, 217);
}
h1 {
  font: 28px sans-serif;
  text-align: center;
}
li {
  font: 14px sans-serif;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  background-color: #0f3952;
  color: white;
  height: 10vh;
  width: 100%;
  position: fixed;
}
.headerContainer h1 {
  margin: auto 20px;
}
.headerLinks {
  display: flex;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}
.headerLinks li {
  list-style: none;
  padding: 40px 15px;
}
.headerLinks li:hover {
  text-decoration: underline;
}
