<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>www.Geosearch.com</title>
    <link rel="stylesheet" href="../styles/about.css" />
  </head>
  <body>
    <!-- Header Body -->
    <div class="headerContainer">
      <h1>Geo-Search</h1>

      <div class="headerLinks">
        <li><a href="./index.html">Home</a></li>
        <li><a>View Map</a></li>
        <li><a href="./about.html">About</a></li>
      </div>
    </div>

    <div class="aboutBody">
      <h2>About Geo-Search</h2>
      <hr />
      <p>
        Geo-Search is a tool that allows people to search for places and extract
        information such as timezone, map and local weather conditions like
        temperature, wind speed, humidity, and precipitation. Users can search
        and view wherever they want from the comfort of their homes.
      </p>
      <p>
        Note: This is an Andela Project for those in the foundation course track aimed
        at equipping and testing their learnt skills so far which is HTML, CSS,
        Javascript and of course consuming APIs.
      </p>
    </div>
  </body>
</html>
